*{margin: 0; padding: 0; list-style: none; text-decoration: none; color: inherit; box-sizing: border-box; scrollbar-width: none;}

.strikeLine{text-decoration: line-through; opacity: .4;}

.flex{display: flex;}
.jcc{justify-content: center;}
.aic{align-items: center;}
.tac{text-align: center;}


@font-face {
  font-family: cksgur;
  src: url(../../공통/fontawesome/fonts/fontawesome-webfont.ttf);
}
.container{font-family: cksgur !important; max-width: 100%; max-height: 100%;}


header{width: 100%; height: 110px; background-color: rgba(211, 211, 211, 0.527);}
.header-in{width: 100%; height: 110px; display: flex; justify-content: space-around; align-items: center;}

.dropdown{z-index: 5;}
.drop{height: 30px;}

.sub{overflow: hidden; height: 0; transition: .3s;}
/* .sub li{z-index: 100;} */
.drop>ul>li:hover .sub{height: 80px;}

.drop>ul>li>a{display: flex; justify-content: center; align-items: center; width: 130px; height: 40px; background-color: whitesmoke;}
.drop>ul>li>ul>li>a{display: flex; justify-content: center; align-items: center; width: 130px; height: 40px; background-color: aliceblue;}

.sub-nav ul{display: flex; justify-content: space-between; width: 350px;}
/* ---------------헤더---------------- */

.product{display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; margin: 30px auto; width: 1800px; height: max-content;}

.popular1{grid-column: 1; grid-row: 1;}
.popular2{grid-column: 1; grid-row: 2;}
.popular3{grid-column: 1; grid-row: 3;}
.popular4{grid-column: 1; grid-row: 4;}
.popular5{grid-column: 1; grid-row: 5;}

.ownItem{width: 350px; height: 400px; border: 1px solid;}

.title{height: 50px; font-weight: bold; text-align: center; font-size: 18px;}
.img img{width: 150px; height: 150px; object-fit: cover;}
.content{height: 120px; font-size: 17px; opacity: .7; padding: 7px;}
.price{display: flex; justify-content: space-between; width: 130px; height: 40px;}
.btnBox{height: 50px;}


/* ------------섹션----------- */

footer{width: 100%; height: 250px; background-color: cadetblue; font-size: 12px;}
.footerBigBox{display: flex; justify-content: space-evenly; align-items: center;}

.ul1, .ul2, .ul3{margin-top: 15px;}
.ul4, .ul5{margin-top: 15px;}

.footerBox1{width: 550px; height: 100px; margin-top: 20px;}
.footerBox2{width: 550px; height: 100px; margin-top: 20px;}

.sns{display: flex; justify-content: space-between; width: 280px; margin-top: 20px;}
.sns li{width: 40px; height: 40px; background-color: darksalmon; text-align: center; line-height: 40px; border-radius: 50%; transition: .3s;}

.sns li:nth-child(1):hover{background-color: skyblue;}
.sns li:nth-child(2):hover{background-color: red;}
.sns li:nth-child(3):hover{background-color: blue;}
.sns li:nth-child(4):hover{background-color: orangered;}
.sns li:nth-child(5):hover{background-color: rgb(73, 73, 73);}
/* --------------푸터-------------- */

.videoBox{position: relative;}
video{width: 100%; height: 600px; margin: 90px auto;}
.videoLabelBox{position: absolute; inset: 23%; top: 100px; display: flex;}
.videoLabelBox label{width: 200px; margin-top: 10px; border: 1px solid; opacity: .8; border-radius: 10px; text-align: center; color: #fff;}

/* #video-btn{position: absolute; bottom: 50px;} */

/* ------------비디오------------- */

dialog{margin: 20px auto; border-radius: 20px;}
.dialog-in{display: flex; justify-content: space-around; align-items: center; width: 1650px; height: 900px; background-color: lightgray;}

.flexBox1{display: flex; flex-direction: column; justify-content: space-between; height: 830px;}
.flexBox2{display: flex; flex-direction: column; justify-content: space-between; height: 830px;}

.userInfo{width: 500px; height: 100px; border: 1px solid; margin: 0 auto; text-align: center; line-height: 100px;}
.exhibition{width: 800px; height: 700px; border: 1px solid;}
.order{width: 700px; height: 600px; border: 1px solid;}
.sell{width: 700px; height: 100px; border: 1px solid;}

.exhibition{overflow: scroll; display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;}
.exhibition ul{width: 250px; height: 300px; border: 1px solid;}

.Dtitle{font-size: 13px; font-weight: bold; text-align: center;}
.Dimg{text-align: center; margin-top: 5px;}
.Dimg img{width: 150px; height: 150px;}
.Dcontent{height: 100px; font-size: 13px; opacity: .8; text-align: justify; padding: 5px;}
.Dprice{font-size: 15px; text-align: center;}
